Repository ekino/veggies: changes, and which lint-staged commands are due for each by the changed paths.
All: readme, cucumberjs --require examples/support examples/features --tags @offline, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

.lintstagedrc:

README.tpl.md:
  - readme
  - git add

"*.feature":
  - cucumberjs --require examples/support examples/features --tags @offline

"*.js":
  - yarn lint-fix
  - yarn fmt
  - git add
  - jest --bail --findRelatedTests

feat(snapthot): add snapshot property matchers
  .lintstagedrc
  doc/README.tpl.md
  examples/features/snapshot/__snapshots__/snapshot.feature.snap
  examples/features/snapshot/fixtures/file2.json
  examples/features/snapshot/snapshot.feature
  package.json
  src/core/assertions.js
  src/extensions/snapshot/dedent.js
  src/extensions/snapshot/definitions.js
  src/extensions/snapshot/extension.js
  tests/__mocks__/chai.js
  tests/core/assertions.test.js
  tests/extensions/cli/definitions.test.js
  tests/extensions/file_system/definitions.test.js
  tests/extensions/http_api/definitions.test.js
  tests/extensions/snapshot/definitions.test.js
  tests/extensions/snapshot/extension.test.js
  tests/extensions/snapshot/fixtures.js
  tests/extensions/state/definitions.test.js
  yarn.lock
Due: readme, cucumberjs --require examples/support examples/features --tags @offline, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(multipart): started adding multipart code, definition test passes
  package.json
  src/core/cast.js
  src/extensions/cli/cli.js
  src/extensions/file_system/definitions.js
  src/extensions/http_api/definitions.js
  src/extensions/snapshot/extension.js
  src/extensions/state/state.js
  tests/extensions/definitions_helper.js
  tests/extensions/http_api/definitions.test.js
  tests/extensions/snapshot/cucumber_test/support/definitions.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(multipart): added mulitpart test for fixture
  tests/extensions/http_api/definitions.test.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(multipart): trying the commit again with yarn
  yarn.lock
Due: none

feat(multipart): multipart works with a module fixture
  src/extensions/http_api/definitions.js
  tests/extensions/http_api/definitions.test.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(multipart): removed unnecessary dependencies
  package.json
  yarn.lock
Due: none

feat(multipart): restored formatting in files that were not touched.
  src/core/cast.js
  src/extensions/cli/cli.js
  src/extensions/file_system/definitions.js
  src/extensions/http_api/definitions.js
  src/extensions/snapshot/extension.js
  src/extensions/state/state.js
  tests/extensions/definitions_helper.js
  tests/extensions/snapshot/cucumber_test/support/definitions.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(global): add PATCH to acceptable methods
  src/extensions/http_api/definitions.js
  tests/extensions/http_api/definitions.test.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

PATCH was added to the "MakeRequest" method and the option notPresent was added to "json response should Match" method
  src/extensions/http_api/.definitions.js.swp
  src/extensions/http_api/definitions.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(http-api): Added PATCH as a request method and notPresent to json body
  src/core/assertions.js
  src/extensions/http_api/.definitions.js.swp
  src/extensions/http_api/client.js
  src/extensions/http_api/definitions.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(general): fixed formatting
  src/extensions/http_api/definitions.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(test): added test and caught error
  src/core/assertions.js
  tests/core/assertions.test.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(test): adding a negative test
  tests/core/assertions.test.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(assertions): add support for json matchers negation
  .gitignore
  README.md
  doc/README.tpl.md
  src/core/assertions.js
  tests/core/assertions.test.js
Due: readme, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

chore(dep): Update dependencies and minimal node version to 8 BREAKING
  .jsdoc.json
  .lintstagedrc
  .travis.yml
  README.md
  doc/README.tpl.md
  package.json
  scripts/generate_readme.js
  src/extensions/cli/cli.js
  src/extensions/file_system/definitions.js
  src/extensions/fixtures/fixtures_loader.js
  src/extensions/http_api/definitions.js
  src/extensions/snapshot/extension.js
  tests/extensions/snapshot/snapshot.test.js
  yarn.lock
Due: readme, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

fix(snapshot): correct snapshot comparison with carriage returns
  .editorconfig
  README.md
  doc/README.tpl.md
  src/extensions/snapshot/extension.js
  tests/extensions/snapshot/extension.test.js
  tests/extensions/snapshot/fixtures.js
  yarn.lock
Due: readme, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(changelog): Remove git-changelog and use conventional-changelog
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

feat(assertions): expose function to assert date with formatting
  README.md
  doc/README.tpl.md
  package.json
  src/core/assertions.js
  tests/core/assertions.test.js
  yarn.lock
Due: readme, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(http-api): handle null and undefined value for negation flag in definitions
  src/extensions/http_api/definitions.js
  yarn.lock
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(packaging): remove useless files from npm package
  .changelogrc
  .npmignore
Due: none

chore(v0.7.0): bump version to 0.7.0
  CHANGELOG.md
  package.json
Due: none

feat(packaging): remove useless files from npm package
  .npmignore
Due: none

chore(v0.7.1): bump version to 0.7.1
  CHANGELOG.md
  package.json
Due: none

chore(deps): bump conventional-commit to v9.x
  package.json
  yarn.lock
Due: none

chore(v0.7.2): bump version to 0.7.2
  CHANGELOG.md
  package.json
Due: none

Create ci.yml
  ci.yml
Due: none

chore(ci): move github actions to the right folder
  .github/workflows/ci.yml
Due: none

docs(readme): update ci badge
  README.md
  doc/README.tpl.md
Due: readme

chore(release): change way we get current version when releasing
  Makefile
Due: none

chore(v0.8.0): bump version to 0.8.0
  CHANGELOG.md
  package.json
Due: none

feat(http): allow headers with underscores
  src/extensions/http_api/definitions.js
  tests/extensions/http_api/definitions.test.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

fix(snapshot): ignore color tags when looking for the no diff message
  src/extensions/snapshot/snapshot.js
  tests/extensions/snapshot/snapshot.test.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(assertObjectMatchSpec): Compare object keys when doing a full match #44
  src/core/assertions.js
  tests/core/assertions.test.js
  tests/extensions/http_api/definitions.test.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(snapshots): add a flag to prevent snapshots creation
  README.md
  doc/README.tpl.md
  src/extensions/snapshot/cmdOptions.js
  src/extensions/snapshot/extension.js
  src/utils/commandLine.js
  tests/extensions/snapshot/extension.test.js
  tests/utils/commandLine.test.js
Due: readme, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests
