Repository ekino/veggies: changes, and which lint-staged commands are due for each by the changed paths.
All: readme, cucumberjs --require examples/support examples/features --tags @offline, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

chore(cucumber): upgrade to latest version
  .github/workflows/ci.yml
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-2.4.2.cjs
  .yarnrc.yml
  README.md
  doc/README.tpl.md
  examples/support/definitions.js
  examples/support/http_api/fixtures.steps.js
  examples/support/world.js
  package.json
  src/extensions/cli/definitions.js
  src/extensions/cli/index.js
  src/extensions/file_system/definitions.js
  src/extensions/file_system/index.js
  src/extensions/fixtures/hooks.js
  src/extensions/fixtures/index.js
  src/extensions/http_api/definitions.js
  src/extensions/http_api/index.js
  src/extensions/snapshot/definitions.js
  src/extensions/snapshot/hooks.js
  src/extensions/snapshot/index.js
  src/extensions/state/definitions.js
  src/extensions/state/index.js
  tests/extensions/definitions_helper.js
  yarn.lock
Due: readme, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

chore(dependencies): upgrade all dependencies
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  .yarn/releases/yarn-2.4.0.cjs
  package.json
  src/extensions/fixtures/fixtures_loader.js
  src/extensions/snapshot/extension.js
  src/extensions/snapshot/snapshot.js
  tests/extensions/fixtures/fixtures_loader.test.js
  tests/extensions/snapshot/snapshot.test.js
  yarn.lock
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

chore(node): now supports Node 12 at least and add tests on Node 16
  .github/workflows/ci.yml
  README.md
  doc/README.tpl.md
  package.json
Due: readme

feat(httpApi): add startWith, endWith matchers as well as concise matcher expressions
  .eslintrc.yml
  README.md
  doc/README.tpl.md
  src/core/assertions.js
  src/core/custom_chai_assertions.js
  src/extensions/http_api/definitions.js
  src/extensions/http_api/utils.js
  tests/core/assertions.test.js
  tests/core/custom_chai_assertions.test.js
  tests/extensions/http_api/definitions.test.js
  tests/extensions/http_api/utils.test.js
Due: readme, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(http_api): allow patch method
  README.md
  src/extensions/http_api/client.js
  src/extensions/http_api/definitions.js
  tests/extensions/http_api/definitions.test.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

docs(contributing): add readme update instructions
  CONTRIBUTING.md
Due: none

ci(build): check readme has been generated
  .github/workflows/ci.yml
  package.json
  scripts/generate_readme.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

chore(v1.0.0): bump version to 1.0.0
  CHANGELOG.md
  package.json
Due: none

feat(cliWrapper): wrap the cucumber CLI to keep the use of custom options
  .gitignore
  bin/veggies.js
  package.json
  src/cli/index.js
  yarn.lock
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

fix(snapshot): remove usage of private variable from jest-diff
  src/extensions/snapshot/snapshot.js
  tests/extensions/snapshot/snapshot.test.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(cliWrapper): wrap the cucumber CLI to keep the use of custom options
  .github/workflows/ci.yml
  .gitignore
  README.md
  bin/veggies.js
  doc/README.tpl.md
  examples/features/snapshot/__snapshots__/snapshot.feature.snap
  package.json
  src/cli/index.js
  tests/cli/dummy_features/__snapshots__/clean_snapshots.feature.snap
  tests/cli/dummy_features/__snapshots__/update_snapshots.feature.snap
  tests/cli/dummy_features/clean_snapshots.feature
  tests/cli/dummy_features/prevent_snapshots_creation.feature
  tests/cli/dummy_features/update_snapshots.feature
  tests/cli/features/veggies.feature
  tests/cli/support/world.js
  yarn.lock
Due: readme, cucumberjs --require examples/support examples/features --tags @offline, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

chore(release): bump version to 1.0.1
  CHANGELOG.md
  package.json
Due: none

feat(cucumber): explicit import of the index file for the CLI
  .github/workflows/ci.yml
  bin/veggies.js
  src/cli/index.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

chore(yarn): update Yarn version
  .yarn/releases/yarn-2.4.2.cjs
  .yarn/releases/yarn-3.1.0.cjs
  .yarnrc.yml
  yarn.lock
Due: none

chore: changelog script should not override previous versions
  package.json
Due: none

chore(release): bump version to 1.1.0
  CHANGELOG.md
  package.json
Due: none

feat(ts): init project with typescript
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
  jest.config.js
  package.json
  src/extensions/cli/definitions.js
  src/extensions/file_system/definitions.js
  src/extensions/http_api/definitions.js
  tsconfig.json
  yarn.lock
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

chore(master): release 1.2.0
  CHANGELOG.md
  package.json
Due: none

ci(release): add release actions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/releases/yarn-3.0.2.cjs
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarnrc.yml
  CHANGELOG.md
  Makefile
  package.json
  src/extensions/cli/definitions.js
  src/extensions/file_system/definitions.js
  src/extensions/http_api/definitions.js
  yarn.lock
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

fix(release): fix publish step by configuring npmrc
  .github/workflows/release.yml
Due: none

ci(release): fix release title
  .github/workflows/release.yml
Due: none

feat(httpApi): minor improve for httpDefinitions and fix uri for makeRequest
  README.md
  doc/README.tpl.md
  examples/features/http_api/fixtures/fixtures.feature
  examples/support/http_api/fixtures.steps.js
  src/extensions/http_api/client.js
  src/extensions/http_api/definitions.js
  tests/extensions/http_api/definitions.test.js
Due: readme, cucumberjs --require examples/support examples/features --tags @offline, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

fix(release): fix changelog output to be multiline
  .github/workflows/release.yml
Due: none

feat(httpApi): add definition to replace placeholder in key of state
  README.md
  doc/README.tpl.md
  src/extensions/http_api/definitions.js
  tests/extensions/http_api/definitions.test.js
Due: readme, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

chore(lint): add linter for json,yaml
  .commitlintrc.yml
  .jsdoc.json
  .prettierrc
  .yarnrc.yml
  package.json
Due: none

chore(deps): upgrade cucumber v8
  package.json
  src/cli/index.js
  yarn.lock
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

chore: update yarn 4.3
  .yarn/releases/yarn-3.0.2.cjs
  .yarn/releases/yarn-3.1.0.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore(eslint): migrate and fix compability for ESLint 9.x
  .eslintignore
  .eslintrc.yml
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/releases/yarn-4.3.1.cjs
  eslint.config.mjs
  package.json
  src/extensions/cli/cli.js
  src/extensions/cli/definitions.js
  src/extensions/http_api/client.js
  src/extensions/http_api/definitions.js
  src/extensions/snapshot/hooks.js
  src/extensions/snapshot/statistics.js
  src/extensions/state/definitions.js
  tests/__mocks__/fs.js
  tests/__mocks__/glob.js
  yarn.lock
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

refactor: remove lodash
  .github/workflows/ci.yml
  .yarnrc.yml
  package.json
  src/core/assertions.js
  src/core/cast.js
  src/extensions/fixtures/fixtures_loader.js
  src/extensions/http_api/client.js
  src/extensions/http_api/definitions.js
  src/extensions/snapshot/clean.js
  src/extensions/snapshot/definitions.js
  src/extensions/snapshot/extend_world.js
  src/extensions/snapshot/extension.js
  src/extensions/snapshot/snapshot.js
  src/extensions/state/state.js
  src/utils/index.js
  tests/extensions/definitions_helper.js
  tests/extensions/fixtures/fixtures_loader.test.js
  tests/extensions/http_api/definitions.test.js
  yarn.lock
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

chore(deps): upgrade prettier 3.3
  package.json
  scripts/generate_readme.js
  src/core/custom_chai_assertions.js
  src/extensions/cli/cli.js
  src/extensions/cli/definitions.js
  src/extensions/cli/extend_world.js
  src/extensions/file_system/definitions.js
  src/extensions/file_system/extend_world.js
  src/extensions/http_api/extend_world.js
  src/extensions/snapshot/clean.js
  src/extensions/snapshot/hooks.js
  src/extensions/snapshot/statistics.js
  src/extensions/state/definitions.js
  src/utils/index.js
  tests/core/assertions.test.js
  tests/core/cast.test.js
  tests/core/custom_chai_assertions.test.js
  tests/extensions/file_system/definitions.test.js
  tests/extensions/fixtures/fixtures_loader.test.js
  tests/extensions/http_api/utils.test.js
  tests/extensions/snapshot/extension.test.js
  tests/extensions/snapshot/snapshot.test.js
  tests/extensions/snapshot/statistics.test.js
  yarn.lock
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

chore(deps): upgrade dependencies
  package.json
  tests/extensions/file_system/definitions.test.js
  yarn.lock
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

refactor(peft): replace glob by fast-glob
  examples/features/http_api/fixtures/fixtures/module_00.js
  package.json
  src/extensions/cli/cli.js
  src/extensions/fixtures/fixtures_loader.js
  src/extensions/http_api/definitions.js
  src/extensions/snapshot/fs.js
  src/extensions/snapshot/snapshot.js
  src/utils/index.js
  yarn.lock
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

fix(esm): fix issues common.js for CLI
  bin/veggies.js
  package.json
  src/cli/index.js
  src/extensions/cli/cli.js
  tests/cli/features/veggies.feature
  yarn.lock
Due: cucumberjs --require examples/support examples/features --tags @offline, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

refactor(test): restructure unit and functional folder tests
  package.json
  src/extensions/snapshot/statistics.js
  tests/cli/dummy_features/__snapshots__/update_snapshots.feature.snap
  tests/cli/dummy_features/prevent_snapshots_creation.feature
  tests/functional/features/cli/__snapshots__/clean_snapshots.feature.snap
  tests/functional/features/cli/__snapshots__/update_snapshots.feature.snap
  tests/functional/features/cli/clean_snapshots.feature
  tests/functional/features/cli/update_snapshots.feature
  tests/functional/features/veggies.feature
  tests/functional/support/world.js
  tests/unit/__mocks__/fs.js
  tests/unit/__mocks__/glob.js
  tests/unit/core/assertions.test.js
  tests/unit/core/cast.test.js
  tests/unit/core/custom_chai_assertions.test.js
  tests/unit/core/registry.test.js
  tests/unit/extensions/cli/definitions.test.js
  tests/unit/extensions/definitions_helper.js
  tests/unit/extensions/file_system/definitions.test.js
  tests/unit/extensions/fixtures/fixtures_loader.test.js
  tests/unit/extensions/http_api/definitions.test.js
  tests/unit/extensions/http_api/utils.test.js
  tests/unit/extensions/snapshot/clean.test.js
  tests/unit/extensions/snapshot/cmdOptions.test.js
  tests/unit/extensions/snapshot/dedent.test.js
  tests/unit/extensions/snapshot/definitions.test.js
  tests/unit/extensions/snapshot/extension.test.js
  tests/unit/extensions/snapshot/fixtures.js
  tests/unit/extensions/snapshot/fs.test.js
  tests/unit/extensions/snapshot/snapshot.test.js
  tests/unit/extensions/snapshot/statistics.test.js
  tests/unit/extensions/state/definitions.test.js
  tests/unit/extensions/state/state.test.js
  tests/unit/utils/commandLine.test.js
Due: cucumberjs --require examples/support examples/features --tags @offline, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

refactor: use structuredClone native in nodejs
  src/extensions/snapshot/extension.js
  src/utils/index.js
  tests/unit/utils/commandLine.test.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

Path conditions:
  readme: any of: README.tpl.md
  cucumberjs --require examples/support examples/features --tags @offline: any of: *.feature
  yarn lint-fix: any of: *.js
  yarn fmt: any of: *.js
  jest --bail --findRelatedTests: any of: *.js
