Repository ekino/veggies: changes, and which lint-staged commands are due for each by the changed paths.
All: readme, cucumberjs --require examples/support examples/features --tags @offline, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

refactor: use only snackcase for file name
  src/extensions/snapshot/cmd_options.js
  src/extensions/snapshot/extend_world.js
  src/extensions/snapshot/hooks.js
  src/utils/command_line.js
  tests/unit/extensions/snapshot/cmd_options.test.js
  tests/unit/utils/command_line.test.js
  tests/unit/utils/index.test.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

test(unit): fix and add utils tests
  src/utils/index.js
  tests/unit/utils/index.test.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

test(unit): fix unit tests core
  eslint.config.mjs
  jest.config.js
  package.json
  tests/unit/core/assertions.test.js
  tests/unit/core/cast.test.js
  tests/unit/core/custom_chai_assertions.test.js
  tests/unit/core/registry.test.js
  tests/unit/extensions/definitions_helper.js
  tests/unit/extensions/fixtures/fixtures_loader.test.js
  tests/unit/extensions/fixtures/mocks/fixture.js
  tests/unit/extensions/fixtures/mocks/js/fixture.js
  tests/unit/extensions/fixtures/mocks/json/fixture.json
  tests/unit/extensions/fixtures/mocks/json/fixture.json.invalid
  tests/unit/extensions/fixtures/mocks/multi/fixture.json
  tests/unit/extensions/fixtures/mocks/multi/fixture.yaml
  tests/unit/extensions/fixtures/mocks/no_default_function.js
  tests/unit/extensions/fixtures/mocks/package.json
  tests/unit/extensions/fixtures/mocks/test.feature
  tests/unit/extensions/fixtures/mocks/txt/fixture.txt
  tests/unit/extensions/fixtures/mocks/yaml/fixture.yaml
  tests/unit/extensions/fixtures/mocks/yaml/fixture.yaml.empty
  tests/unit/extensions/fixtures/mocks/yaml/fixture.yaml.invalid
  tests/unit/extensions/snapshot/clean.test.js
  tests/unit/extensions/state/definitions.test.js
  tests/unit/extensions/state/state.test.js
  tests/unit/utils/command_line.test.js
  yarn.lock
Due: cucumberjs --require examples/support examples/features --tags @offline, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

refactor: remove chalk and use native ANSI color
  package.json
  scripts/generate_readme.js
  src/extensions/snapshot/snapshot.js
  src/extensions/snapshot/statistics.js
  tests/unit/extensions/snapshot/clean.test.js
  tests/unit/extensions/snapshot/package.json
  yarn.lock
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

ci: use test-func command instead of test-cli
  .github/workflows/ci.yml
Due: none

chore: downgrade chai to 4.5, because 5.x support only esm
  package.json
  tests/functional/features/cli/veggies.feature
  tests/unit/__mocks__/fs.js
  tests/unit/__mocks__/glob.js
  tests/unit/__mocks__/package.json
  tests/unit/extensions/snapshot/extension.test.js
  tests/unit/extensions/snapshot/fixtures.js
  yarn.lock
Due: cucumberjs --require examples/support examples/features --tags @offline, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(esm): use arrow function and use world param to replace this keyword
  examples/support/http_api/fixtures.steps.js
  jest.config.mjs
  lib/cjs/extensions/cli/definitions.js
  lib/cjs/extensions/file_system/definitions.js
  lib/cjs/extensions/http_api/definitions.js
  lib/cjs/extensions/snapshot/definitions.js
  lib/cjs/extensions/state/definitions.js
  package.json
  src/core/custom_chai_assertions.js
  src/extensions/cli/definitions.js
  src/extensions/file_system/definitions.js
  src/extensions/http_api/definitions.js
  src/extensions/snapshot/definitions.js
  src/extensions/state/definitions.js
  tests/functional/support/http_api/fixtures.steps.js
  tests/unit/extensions/snapshot/definitions.test.js
  yarn.lock
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

test: replace step definitions unit tests not working in cucumber 10.x by functional tests
  lib/cjs/core/custom_chai_assertions.js
  package.json
  tests/functional/features/cli/cli.feature
  tests/functional/features/file_system/file_system.feature
  tests/functional/features/state/state.feature
  tests/unit/extensions/cli/definitions.test.js
  tests/unit/extensions/definitions_helper.cjs
  tests/unit/extensions/file_system/definitions.test.js
  tests/unit/extensions/snapshot/definitions.test.js
  tests/unit/extensions/state/definitions.test.js
Due: cucumberjs --require examples/support examples/features --tags @offline, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

test(unit): make all unit tests passe (still use cjs)
  jest.config.mjs
  tests/unit/__mocks__/fs.js
  tests/unit/__mocks__/glob.js
  tests/unit/__mocks__/package.json
  tests/unit/extensions/http_api/definitions
  tests/unit/extensions/http_api/utils.test.js
  tests/unit/extensions/snapshot/clean.test.js
  tests/unit/extensions/snapshot/extension.test.js
  tests/unit/extensions/snapshot/fs.test.js
  tests/unit/extensions/snapshot/snapshot.test.js
  tests/unit/extensions/snapshot/statistics.test.js
  tests/unit/utils/command_line.test.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

test(func): complete test-func for http_api definitions
  .github/workflows/ci.yml
  jest.config.mjs
  lib/cjs/extensions/http_api/definitions.js
  package.json
  src/core/cast.js
  src/extensions/http_api/definitions.js
  tests/functional/features/cli/clean_snapshots.feature
  tests/functional/features/cli/update_snapshots.feature
  tests/functional/features/cli/veggies.feature
  tests/functional/features/cli/yarn.feature
  tests/functional/features/file_system/file_system.feature
  tests/functional/features/http_api/__snapshots__/http_api.feature.snap
  tests/functional/features/http_api/cookies.feature
  tests/functional/features/http_api/fixtures/check.txt
  tests/functional/features/http_api/fixtures/cookies.yaml
  tests/functional/features/http_api/fixtures/create_post.json
  tests/functional/features/http_api/fixtures/fixtures.feature
  tests/functional/features/http_api/fixtures/json_00.json
  tests/functional/features/http_api/fixtures/module_00.js
  tests/functional/features/http_api/fixtures/posts.json
  tests/functional/features/http_api/fixtures/redirect.json
  tests/functional/features/http_api/fixtures/text_00.txt
  tests/functional/features/http_api/fixtures/yaml_00.yaml
  tests/functional/features/http_api/fixtures/yaml_01.yml
  tests/functional/features/http_api/http_api.feature
  tests/functional/support/http_api/fixtures.steps.js
  tests/unit/extensions/http_api/definitions
  tests/unit/extensions/snapshot/extension.test.js
  tests/unit/extensions/snapshot/fixtures.js
Due: cucumberjs --require examples/support examples/features --tags @offline, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

chore: add recommended lint rules to common config
  eslint.config.mjs
Due: none

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Due: none

chore(hook): replace husky by native feature githooks
  .githooks/pre-commit
  .githooks/prepare-commit-msg
  .husky/commit-msg
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

chore: use pnpm instead of yarn
  .githooks/pre-commit
  .githooks/prepare-commit-msg
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .lintstagedrc
  .npmignore
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarn/versions/0434526b.yml
  .yarn/versions/9b590c83.yml
  .yarn/versions/c37b7ca2.yml
  .yarn/versions/dcb7fe1c.yml
  .yarn/versions/e2c70271.yml
  .yarnrc.yml
  CONTRIBUTING.md
  README.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  scripts/generate_readme.js
  yarn.lock
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

chore(deps): upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: none

ci: setup correctly CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: none

test(unit): replace jest by vitest
  .lintstagedrc
  eslint.config.mjs
  jest.config.mjs
  package.json
  pnpm-lock.yaml
  tests/unit/core/assertions.test.js
  tests/unit/core/cast.test.js
  tests/unit/core/custom_chai_assertions.test.js
  tests/unit/core/registry.test.js
  tests/unit/extensions/fixtures/fixtures_loader.test.js
  tests/unit/extensions/http_api/utils.test.js
  tests/unit/extensions/snapshot/clean.test.js
  tests/unit/extensions/snapshot/cmd_options.test.js
  tests/unit/extensions/snapshot/dedent.test.js
  tests/unit/extensions/snapshot/extension.test.js
  tests/unit/extensions/snapshot/fs.test.js
  tests/unit/extensions/snapshot/snapshot.test.js
  tests/unit/extensions/snapshot/statistics.test.js
  tests/unit/extensions/state/state.test.js
  tests/unit/utils/command_line.test.js
  tests/unit/utils/index.test.js
  vitest.config.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

chore: remove arg, use node:util, clean bin command
  .gitignore
  bin/veggies.cjs
  bin/veggies.js
  package.json
  pnpm-lock.yaml
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat: replace moment-timezone by luxon
  package.json
  pnpm-lock.yaml
  src/core/assertions.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat: replace request by axios
  README.md
  bin/package.json
  bin/veggies.js
  doc/README.tpl.md
  examples/features/cli/pnpm.feature
  examples/features/http_api/cookies.feature
  examples/features/http_api/github.feature
  examples/support/http_api/fixtures.steps.js
  package.json
  pnpm-lock.yaml
  src/extensions/http_api/client.js
  src/extensions/http_api/definitions.js
  src/extensions/snapshot/definitions.js
  tests/functional/features/cli/veggies.feature
  tests/functional/support/http_api/fixtures.steps.js
Due: readme, cucumberjs --require examples/support examples/features --tags @offline, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

fix(bin): filter cucumber args only
  bin/veggies.js
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

fix(http_api): fix correct info for axios request
  src/extensions/http_api/client.js
  src/extensions/http_api/definitions.js
  tests/functional/features/http_api/http_api.feature
Due: cucumberjs --require examples/support examples/features --tags @offline, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

fix(http_api): setup correctly valid status redirect for axios
  src/extensions/http_api/client.js
  tests/functional/features/cli/veggies.feature
  tests/functional/features/http_api/http_api.feature
Due: cucumberjs --require examples/support examples/features --tags @offline, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(typescript): convert utils files to typescript
  package.json
  pnpm-lock.yaml
  src/@types/chai.d.ts
  src/@types/intl.d.ts
  src/utils/colors.ts
  src/utils/command_line.js
  src/utils/command_line.ts
  src/utils/index.js
  src/utils/index.ts
  tsconfig.json
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(typescript): convert src/index to typescript
  src/index.ts
Due: none

feat(typescript): convert src/core to typescript
  examples/features/cli/pnpm.feature
  examples/support/world.js
  package.json
  pnpm-lock.yaml
  src/@types/chai.d.ts
  src/core/assertions.ts
  src/core/cast.ts
  src/core/registry.ts
  src/types.ts
  src/utils/index.ts
  tests/functional/support/world.js
Due: cucumberjs --require examples/support examples/features --tags @offline, yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(typescript): convert src/state to typescript
  src/@types/cucumber.d.ts
  src/core/cast.ts
  src/extensions/state/definitions.ts
  src/extensions/state/extend_world.ts
  src/extensions/state/index.ts
  src/extensions/state/state.ts
  src/utils/index.ts
Due: none

feat(typescript): convert src/cli to typescript
  src/@types/cucumber.d.ts
  src/core/registry.ts
  src/extensions/cli/cli.ts
  src/extensions/cli/definitions.ts
  src/extensions/cli/extend_world.ts
  src/extensions/cli/index.ts
  src/types.ts
Due: none

feat(typescript): convert extensions/file_system to typescript
  src/@types/cucumber.d.ts
  src/extensions/cli/definitions.ts
  src/extensions/file_system/definitions.ts
  src/extensions/file_system/extend_world.ts
  src/extensions/file_system/file_system.js
  src/extensions/file_system/file_system.ts
  src/extensions/file_system/index.ts
  src/extensions/state/definitions.ts
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(typescript): covert extensions/fixtures to typescript
  package.json
  pnpm-lock.yaml
  src/extensions/fixtures/extend_world.ts
  src/extensions/fixtures/fixtures_loader.ts
  src/extensions/fixtures/hooks.ts
  src/extensions/fixtures/index.ts
Due: none

feat(typescript): convert extensions/snaphost to typescript
  src/@types/natural-compare.d.ts
  src/core/assertions.ts
  src/extensions/fixtures/fixtures_loader.ts
  src/extensions/snapshot/clean.ts
  src/extensions/snapshot/cmd_options.ts
  src/extensions/snapshot/dedent.ts
  src/extensions/snapshot/definitions.js
  src/extensions/snapshot/definitions.ts
  src/extensions/snapshot/extend_world.ts
  src/extensions/snapshot/extension.ts
  src/extensions/snapshot/fs.js
  src/extensions/snapshot/fs.ts
  src/extensions/snapshot/hooks.ts
  src/extensions/snapshot/index.ts
  src/extensions/snapshot/snapshot.ts
  src/extensions/snapshot/statistics.ts
  src/utils/index.ts
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

feat(typescript): add missing return type
  src/extensions/cli/definitions.ts
  src/extensions/cli/extend_world.ts
  src/extensions/file_system/definitions.ts
  src/extensions/fixtures/extend_world.ts
  src/extensions/fixtures/fixtures_loader.ts
  src/extensions/snapshot/definitions.ts
  src/extensions/state/definitions.ts
Due: none

feat(typescript): convert extensions/http_api to typescript
  src/extensions/file_system/definitions.ts
  src/extensions/http_api/client.ts
  src/extensions/http_api/definitions.js
  src/extensions/http_api/definitions.ts
  src/extensions/http_api/extend_world.ts
  src/extensions/http_api/index.ts
  src/extensions/http_api/utils.ts
  src/extensions/snapshot/definitions.ts
Due: yarn lint-fix, yarn fmt, jest --bail --findRelatedTests

chore(typescript): centralize types
  src/extensions/cli/cli.ts
  src/extensions/file_system/file_system.ts
  src/extensions/fixtures/fixtures_loader.ts
  src/extensions/http_api/client.ts
  src/extensions/http_api/definitions.ts
  src/extensions/snapshot/definitions.ts
  src/extensions/snapshot/extend_world.ts
  src/extensions/snapshot/extension.ts
  src/extensions/snapshot/snapshot.ts
  src/extensions/snapshot/statistics.ts
  src/extensions/state/state.ts
  src/types.ts
  src/utils/index.ts
Due: none

fix(cli): check correctly null type
  src/core/assertions.ts
  src/extensions/cli/cli.ts
  src/extensions/fixtures/fixtures_loader.ts
  src/extensions/http_api/client.ts
  src/utils/index.ts
Due: none

chore(deps): remove globals dependency
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  readme: any of: README.tpl.md
  cucumberjs --require examples/support examples/features --tags @offline: any of: *.feature
  yarn lint-fix: any of: *.js
  yarn fmt: any of: *.js
  jest --bail --findRelatedTests: any of: *.js
